/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
 .inat-block-input-label {
	clear: both !important;
	min-width: 6rem;
	float: left;
	vertical-align: middle;
}
.inat-editor-preview {
	clear: both;
}